version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    image: node:22
    container_name: template-backend
    restart: always
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: >
      sh -c "corepack enable &&
             corepack prepare pnpm@latest --activate &&
             pnpm install &&
             pnpm run build &&
             pnpm run start"
    depends_on:
      - postgres
    ports:
      - "8081:${PORT}"

volumes:
  postgres_data:
